.dropdown {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
}

.dropdown label {
  font-weight: bold;
}

.dropdown select {
  border: none;
  font-size: 15px;
  background: transparent;
}

@media screen and (min-width: 250px) and (max-width: 767px) {
  .dropdown {
    overflow: hidden;
  }
}
