.card {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: #043845;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.card img {
  height: 100%;
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 10px;
}

.card h5 {
  font-size: 20px;
  margin: 10px;
}

.card p {
  margin: 5px;
}

.card p:last-child {
  color: #ed7d31;
}

.card:hover {
  box-shadow: #ed7d31 0px 5px 15px;
  transform: scale(1.03);
}

@media screen and (max-width: 1200px) {
  .card {
    flex-direction: column;
    margin: 15px;
  }
  .card img {
    width: 100%;
    height: 40%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}
